obj
bin
builds
_ReSharper.*
*.DotSettings.user
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.userprefs
*.pidb
*.userprefs
test-results
*.pidb
/Build
/packages
*-tests-results.xml
*.nupkg
